.MainContainer{
    height: auto;
    background-color: rgb(235, 235, 235);
    min-height: 80vh;
    display: flex;
    align-content: space-between;
box-shadow: 0px 16px 9px -8px rgba(0,0,0,0.75);
}

.WeatherPic{
    height: 50px;
    margin-top: 2vh;
    width: 50px;
    background-image: url('../weatherpic.png');
    background-position: center;
    background-size: cover;
}

.locationName{
    padding: 0 !important;
    margin-left: 5vw;
    width: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

div.col-2{
    margin:0;
}

.BtnContain{
    justify-content: flex-end;
    display: flex;

}

.FavBtn{
    height: auto;
    margin-top: 10px;
    font-size: 10px;
    background-color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    transition: 0.4s ease-in-out;
}

.FavBtn:hover{
    background-color: red;
}

.spacer{
    margin: 20px 0 20px 0;
    height: 20vh;
    display: flex;
    justify-content: center;
    font-size: 2em;
    align-items: center;
    text-align: center;
}

.dayCardContainer .row{
    text-align: center;
    display: flex;
    justify-content: center;
}


div.dayCard{
    box-shadow: 0px 4px 16px -1px rgba(0,0,0,0.75);
    height: 20vh;
    border-radius: 5px;
   background-color: rgb(0, 111, 131);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content:space-evenly;
    transition: 0.5s ease-in;
}

.dayCard:hover{
   background-color: rgb(0, 152, 179);
}

.col-md-4{
    margin-bottom: 10px;
}



div.col-4{
    padding: 0 !important;
    margin: 0 !important;
}
