.favContianer{
    width: 90vw;
    height: auto;
    background-color: rgb(235, 235, 235);
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0px 16px 9px -8px rgba(0,0,0,0.75);

}

.favCard{
    box-shadow: 0px 4px 16px -1px rgba(0,0,0,0.75);
    height: 20vh;
    border-radius: 5px;
   background-color: rgb(0, 111, 131);
   display: flex;
   
    margin: 10PX;
    align-items: center;
    justify-content: space-around;
    
}

.removeFav{
    border: none;
    background: inherit;
    position: absolute;
    top: 0;
    left: 0;
    padding:0 0 0 5px;
}

.removeFav:hover{
    color: rgba(0, 45, 97,0.5);
}
.removeFav:focus {
    outline:0;
}