body{
        background-color: rgb(0, 78, 180);
}

.headerRow{
        background-color: rgb(0, 57, 122);
        height:10vh;
        display: flexbox;
        flex-direction: row;
}

.searchBarCol{
        margin: 10px 0 10px 0 !important;
        display: flex;
        justify-content: center;
}

.favoritesHeader{
        color: black;
        text-align: center;
        font-size: 10px;
        
}